<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio 2022</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2a336f6bfb.js" crossorigin="anonymous"></script>


</head>

<body class="">
    <header class="home-header">
        <a href="#">
            <h3>freelance portfolio</h3>
        </a>
        <button class="boton-menu">
            menu <i class="fa-solid fa-bars"></i>
        </button>
        <nav class="home-header-nav">
            <ul>
                <li>
                    <a href="#portfolio">portfolio</a>
                </li>
                <li>
                    <a href="#about">about</a>
                </li>
                <li>
                    <a href="#contact">contact</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="home-main">
        <section class="home-main-portafolios">
            <figure>
                <img src="/img/profile.png" alt="">
            </figure>
            <h1>freelance portfolio</h1>
            <div class="home-main-portafolios-estrella-blanca">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <p>Web Developer - Graphic Artist - User Experience Designer</p>
        </section>

        <section class="home-main-contenedor-portafolios">
            <h2>Portfolio</h2>
            <div class="home-main-portafolios-estrella-azul">
                <hr class="horizontal-line">
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr class="horizontal-line">
            </div>
            <div class="home-main-contenedor-imagen">
                <figure>
                    <img src="/img/cabin.png" alt="">
                </figure>
                <figure>
                    <img src="/img/cake.png" alt="">
                </figure>
                <figure>
                    <img src="/img/circus.png" alt="">
                </figure>
                <figure>
                    <img src="/img/game.png" alt="">
                </figure>
                <figure>
                    <img src="/img/safe.png" alt="">
                </figure>
                <figure>
                    <img src="/img/submarine.png" alt="">
                </figure>
            </div>
        </section>

        <section class="home-main-contenedor-portafolios1">
            <h2>about</h2>
            <div class="home-main-portafolios-estrella-blanca">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <article class="texto-about">
                <p>Freelance is a free landing page theme created for free use. The download includes the complete
                    source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
                <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
                    a graphic artist looking to share your projects, this template is the perfect starting point!</p>
            </article>
            <a href="#">Download Now!<i class="fa-solid fa-download"></i></a>
        </section>

        <section class="home-main-contenedor-portafolios">
            <h2>contact me</h2>
            <div class="home-main-portafolios-estrella-azul">
                <hr>
                <h4><i class="fa-solid fa-star"></i></h4>
                <hr>
            </div>
            <form action="" class="formularios">
                <div>
                    <label for="">Name</label>
                    <input type="text" class="input-name">
                </div>
                <div>
                    <label for="">Email Address</label>
                    <input type="email" class="input-email">
                </div>
                <div>
                    <label for="">Phone Number</label>
                    <input type="tel" class="input-phone">
                </div>
                <div>
                    <label for="">Message</label>
                    <textarea class="input-message"></textarea>
                </div>

                <button type="submit">Send</button>

            </form>
        </section>
    </main>

    <footer class="home-footer">
        <section class="home-footer-arriba">
            <article class="">
                <h3>location</h3>
                <p>2215 Jhon Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </article>
            <article class="">
                <h3>around the web</h3>
                <div class="home-footer-iconos">
                    <a href="#"><i class="fa-solid fa-globe" style="color: #ffffff;"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook" style="color: white;"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter" style="color: white;"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin" style="color: white;"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram" style="color: white;"></i></a>
                </div>
            </article>
            <article class="">
                <h3>about freelancer</h3>
                <p>Freelance is a free and open source landing page theme created for <span>your free personal use
                    </span> .</p>
            </article>
        </section>
        <section class="copy">
            <p>Copyright<i class="fa fa-copyright"></i> Your Website 2023</p>
        </section>
    </footer>

    <script src="/js/home.js"></script>
</body>

</html>